.education .page__content{
  h1{

  }
  p{

  }
  .title-subtext{
    p{
      margin-bottom: 5px;
    }
    .subtext-location{
      font-size: 0.75em;
      padding-left: 5px;
    }
    margin-bottom: 10px;
  }
}